@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

@layer components {
  .content-height {
    min-height: calc(100vh - 130px);
  }

  .content-height-sm {
    min-height: calc(100vh - 108px);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  .slider {
    @apply relative p-4 bg-gray-50 rounded-lg border border-gray-200;
  }

  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    @apply absolute;
  }

  .slider__track,
  .slider__range {
    @apply h-[5px] rounded-[3px];
  }

  .slider__track {
    @apply z-[1] w-full left-0 bg-gray-200;
  }

  .slider__range {
    @apply z-[2];
  }

  .slider__left-value,
  .slider__right-value {
    @apply text-xs mt-5 text-gray-600;
  }

  .slider__left-value {
    @apply left-1.5;
  }

  .slider__right-value {
    @apply -right-1;
  }

  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  .thumb {
    @apply absolute pointer-events-none h-0 outline-none top-1/2 bottom-0 w-full;
  }

  .thumb--left {
    @apply z-[3] left-0;
  }

  .thumb--right {
    @apply z-[4] right-0;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    @apply bg-primary border-none rounded-full shadow-md cursor-pointer h-6 w-6 mt-1 relative pointer-events-auto;
  }

  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    @apply bg-primary border-none rounded-full shadow-md cursor-pointer h-6 w-6 mt-1 relative pointer-events-auto;
  }
}



::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a8bbbf;
  border-radius: 20px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 49;
}

.react-multiple-carousel__arrow {
  z-index: 2 !important;
}