@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-height {
    min-height: calc(100vh - 223px);
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid;
    position: absolute;
    rotate: 45deg;
  }

  .tooltip-arrow.left {
  }

  .tooltip-arrow.right {
  }

  .tooltip-arrow.top {
  }

  .tooltip-arrow.bottom {
    /* Yukarı sabitlenecek */

    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

body {
  position: relative;
  min-width: 375px;
}

.accordion-content-enter {
  opacity: 0;
  max-height: 0;
}

.accordion-content-enter-active {
  opacity: 1;
  max-height: 1000px;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.accordion-content-exit {
  opacity: 1;
  max-height: 1000px;
}

.accordion-content-exit-active {
  opacity: 0;
  max-height: 0;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 20px;
}
