.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.slider-content {
    display: flex;
    gap: 12px;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: center;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}